<div class="container">
    <div class="col-xs-2">
       <ul class="list-group">
           <a href="" ><li class="list-group-item custom-list-item ">Doctor</li></a>
           <a href=""><li class="list-group-item custom-list-item ">Patients</li></a>
           <a href=""><li class="list-group-item custom-list-item ">Stats</li></a>
           <a href=""><li class="list-group-item custom-list-item ">Doctor</li></a>
       </ul>
    </div>
</div>

    <div class="col-xs-10">
        <router-outlet>
            <primary-outlet></primary-outlet>
        </router-outlet>
    </div>